.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.detail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  /* padding: 1%; */
  flex-direction: row;
  /* border: 1px solid black; */
  position: relative;
}

.detail-wrapper img {
  height: 100%;
  width: auto;
  transition: all 0.25s ease-in-out;
}

.detail-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65%;

  height: 100%;
  justify-content: flex-start;
  text-align: left;
  margin: 0%;
}

.detail-container h1 {
  font-size: 45px;
  margin: 0;
  font-weight: 400;
}

.detail-container h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 100;
}

.detail-container p {
  font-size: 20px;
}

.detail-buttons img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.inactive {
  transition: 0.25s ease-in-out;
  filter: brightness(0.3);
}

.detail-link {
  height: 5vh;
  margin: 4vh 0 2vh 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail-link button {
  all: unset;
  text-decoration: none;
  color: #c59fc3;
}

.box {
  width: 70vw;
}

.detail-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 70vh;
  margin: 0 1vw 0 1vw;
}

.image-box {
  display: flex;
}
/* .image-box img{
  width: auto;
  max-width: 20vw;
  max-height: 52vh;
  margin: 0 2vw;
} */

.detail-imgs {
  display: flex;
  flex-direction: column;
  height: 70vh;
  /* margin-right: 1vw; */
  gap: 1vh;
}

.arrimgs img {
  /* height: 100px;
  width: 100px;
  cursor: pointer; */
  cursor: pointer;
  height: 12vh;
  width: 6vw;
}

.prev-img img {
  width: auto;
  max-width: 20vw;
  height: 52vh;
  margin: 0 2vw;
}

.detail-container .favs-added {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  right: 25%;
  top: 3%;
  /* background-color: white; */
  border-radius: 50%;
  transition: 0.5s ease-in;
  z-index: 3;
}

.detail-container .add-favs {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  right: 25%;
  top: 3%;
  /* background-color: white; */
  border-radius: 50%;
  transition: 0.5s ease-in;
  z-index: 3;
}

.card:hover .add-fav img {
  opacity: 1;
  transform: none;
}
.card .add-fav img:hover {
  opacity: 1;
}

.go-back-button button {
  all: unset;
  cursor: pointer;
}
.go-back-button {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 20px;
  /* background-color: white; */
  border-radius: 50%;
  transition: 0.5s ease-in;
  z-index: 3;
}

.other-items {
  margin-bottom: 5vh;
}

.other-items .card img {
  width: 200px;
  height: 250px;
  transform: none;
}

.other-items .add-favs img,
.other-items .favs-added img {
  width: 40px;
  height: 40px;
  background-color: #ffffff69;
  border-radius: 50%;
}

.other-items .cards-container:hover img {
  opacity: 1;
}

.other-items .cards-container img:hover {
  transform: none;
  opacity: 1;
}

.prev-img {
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 1s ease-in-out;
}
@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 875px) {
  .detail {
    height: 100%;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5vw;
  }
  .detail-box {
    justify-content: unset;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .detail-link {
    margin: 4vh 0 2vh 4vw;
  }
  .detail-container {
    margin: 0 10% 10% 10%;
  }
  .prev-img img {
    max-width: 65vw;
    min-width: 200px;
    width: auto;
    min-height: 350px;
    height: 45vh;
    margin: 0 2vw;
  }

  .arrimgs img {
    height: 10vh;
    min-height: 70px;
    width: auto;
    min-width: 75px;
    max-height: 11vh;
  }
  .image-box {
    height: 55vh;
    min-height: 500px;
  }
  .detail-container .add-favs {
    border-radius: 50%;
    right: 6%;
  }
  .detail-container .favs-added {
    border-radius: 50%;
    right: 6%;
  }

  .other-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
  }

  .other-items .cards-container {
    width: 100%;
  }
  .other-items .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
  }

  .other-items .card img {
    width: 100px;
    height: auto;
    max-height: 110px;
    object-fit: cover;
    z-index: 1;
    transform-origin: center;
    transform: none;
    transition: 0.5s;
  }
  .other-items .add-favs img,
  .other-items .favs-added img {
    width: 30px;
    height: 30px;
    background-color: #ffffff69;
    border-radius: 50%;
  }
}
