.home {
    height: 100%;
    width: auto;
}


.container{
    height: 100%;
    width: auto;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("../images/one.jpg"); */
    background-position: center;
    height: 100vh;
    filter:blur(5px);
    
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 50px;
    flex-direction: column;
}

.instagram img{
    height: auto;
    width: 90vw;
}

.icon img{
    height: 30px;
    width: auto;
}

/* From cssbuttons.io */
.instagram button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .instagram button:active,
   .instagram button:hover {
    outline: 0;
   }
   
   .instagram button span {
    background-color: #FFC8DD;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .instagram button:hover span {
    background: none;
   }
   
   .instagram button:active {
    transform: scale(0.9);
   }


   @media screen and (max-width: 875px){        
    .instagram {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        margin: 50px;
        flex-direction: column;
    }
    
    .instagram img{
        width: 95vw;
        height: auto;

    }
    
    .icon img{
        height: 30px;
        width: auto
    }
    
    /* From cssbuttons.io */
    .instagram button {
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #000000;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
       }
       
       .instagram button:active,
       .instagram button:hover {
        outline: 0;
       }
       
       .instagram button span {
        background-color: #FFC8DD;
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
        display: flex;
        justify-content: center;
        align-items: center;
       }
       
       .instagram button:hover span {
        background: none;
       }
       
       .instagram button:active {
        transform: scale(0.9);
       }
    
   }