@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");

.main-img_text{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: UnifrakturCook;
    flex-direction: column;
    line-height: 20px;
}

.main-img_text::before{
    content: "";
    background-image: url("https://i.pinimg.com/originals/47/4f/f3/474ff3319df17354e29327d37d37fc2d.png");
    background-size: cover;
    background-repeat: round;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   opacity: 0.65;
    
    /* display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center; */
    /* z-index: 2; */
   
    
}
.main-img_text h1, h2, h3 {
    position: relative;
}
.main-img_text h1{
    font-size: 64px;
    /* filter: opacity(1); */
}


.main-img_text h2{
    font-size: 30px;
}

.main-img_text h3{
    font-size: 25px;
}

.main-img img{
    height: auto;
    max-height: 40vh;
    width: 100vw;
    filter:opacity(0.6);
    margin-bottom: -4px;
}

@media screen and (max-width: 875px) {
    .main-img img {
        height: auto;
        width: 100vw;
    }
    .main-img_text{
        top: 8%;
        line-height: 20px;
    }
    
    .main-img_text h1{
        font-size: 30px;
    }
    
    
    .main-img_text h2{
        font-size: 15px;
    }
    
    .main-img_text h3{
        font-size: 10px;
    }
    
}